{% extends 'main/base.html' %}
{% block content%}

<div class="container">
    {% if is_owner %}
    <div class="row mt-4 mb-4">

    </div>
    {% endif %}

            <!-- Правая часть с информацией о юзере -->
            <div class="col-md-9">
                <p><b>Имя:</b> {{ object_user.name }} </p>
                <p><b>Электронная почта:</b> {{ object_user.email }} </p>
                <p><b>Офис:</b> {{ object_user.office_number }} </p>
                <p><b>Компания:</b> {{ object_user.company }}</p>
                <p><b>Телефон для связи:</b> {{ object_user.phone }}</p>



            </div>




                  {% if is_owner %}
                  <div class="col-md-12">
                  <a href="{% url 'users:profile' %}" class="btn btn-secondary text-white">Редактировать профиль</a>
                  <a href="{% url 'main:request_create' %}" class="btn btn-secondary text-white" >Создать заявку</a>

                  <a href="{% url 'main:car_create' %}" class="btn btn-secondary text-white">Запросить доступ на территорию</a></div>
                  {% endif %}
                      <div class="col-md-12 border p-3 m-3">

                            {% if user_requests %}
                                <h2 class="bg-secondary text-light p-2">Ваши заявки</h2>
                                  {% for req in user_requests %}
                          <div class="col-md-offset-12">
                                    <p><b>Дата:</b> {{ req.date }}</p>
                                  <p><b>Офис:</b> {{ req.office_id }}</p>
                              <p><b>Описание:</b> {{ req.description }}</p>
                                  <p><b>Статус:</b> {{ req.status }}</p>
                              {% if req.comments %}
                              <p><b>Комментарий исполнителя:</b> {{ req.comments }}</p>
                              {% endif %}
                          </div>
                                      {% if not loop.last %}
            <hr>
        {% endif %}

                                  {% endfor %}
                            {% else %}
                                <p>У вас пока нет отправленных заявок в Службу Эксплуатаци</p>
                            {% endif %}


                                <h2 class="bg-secondary text-light p-2">Доступ автомобилей на территорию</h2>
                            {% if cars %}
                                    {% for car in cars %}
                                        <div class="col-md-12">

                                                        <p><b>Номер авто</b> {{ car.car_id }}</p>
                                                        <p><b>Модель</b> {{ car.model }}</p>
                                                        <p><b>Статус запроса</b> {{ car.status }}</p>
</div>
                                      {% if not loop.last %}
            <hr>
        {% endif %}

                                {% endfor %}
                            {% else %}
                                <p>У вас пока нет запросов на доступ авто на территорию</p>
                            {% endif %}

       </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                      </div>



{% endblock %}
