{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="row text-start">
        <div class="col-lg-12 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Город</td>
                            <td>Екатеринбург</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон администрации</td>
                            <td>+7(343)379-03-00</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон круглосуточный</td>
                            <td>+7(343)379-03-00</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>620085, ул. 8 Марта, 212</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
       
{% endblock %}
