{% extends 'main/base.html' %}
{% load static %}

{% block content %}

      <div class="jumbotron p-3 p-md-5 text-darkgrey rounded bg-lightgrey">
        <div class="col-md-12 px-0">
          <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
          <p class="lead my-3">Прошу Вас тестировать функции данного сайта и отправлять все замечания мне на почту olga@noran.ru</p>
            <p class="lead my-3">После регистрации на Вашей странице в профиле Вы сможете отслеживать все Ваши заявки.</p>

        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">

              <h3 class="mb-0">
                  {% if user.is_authenticated %}
                      <a class="text-dark" href="{% url 'main:request_create' %}">Подать заявку в УК</a>
                  {% else %}
                      <a class="text-dark" href="{% url 'users:login' %}">Подать заявку в УК</a>
                  {% endif %}
              </h3>
              <div class="mb-1 text-muted"></div>
              <p class="card-text mb-auto">Здесь Вы можете напрямую отправить срочную или не очень заявку в службу эксплуатации</p>

            </div>

          </div>
        </div>


        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">

              <h3 class="mb-0">
                   {% if user.is_authenticated %}
                <a class="text-dark" href="{% url 'main:car_create' %}">Доступ для авто</a>
                   {% else %}
                      <a class="text-dark" href="{% url 'users:login' %}">Доступ для авто</a>
                  {% endif %}
              </h3>
              <div class="mb-1 text-muted"></div>
              <p class="card-text mb-auto">Здесь Вы можете отправить заявку на доступ автотранспорта на территорию двора</p>

            </div>

          </div>
        </div>
      </div>
    </div>



    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          

          <div class="blog-post">
            <h2 class="bg-secondary text-light p-2">Новости и объявления</h2>
              
            {% for object in news %}
<div class="col-md-offset-12">
<p class="blog-post-meta">{{ object.date }}</p>
    <p><b><a href="{% url 'news:view' object.slug %}" style="color: black;">{{ object.title }}</a></b></p>
    <p>{{ object.body }}</p>



                          </div>
                                      {% if not loop.last %}
            <hr class="hr-custom">
    {% endif %}
{% endfor %}
             
         <h2 class="bg-secondary text-light p-2">Акции и объявления наших арендаторов</h2>
<a class="text-dark" href="{% url 'announcements:list' %}">В этом разделе арендаторы ДЦ Астор могут оставлять свои объявления и специальные предложения </a></p>
             
{% for object in announcements %}
<div class="col-md-offset-12">
<p class="blog-post-meta">{{ object.created_at }}</p>
<p><a href="{% url 'announcements:view' object.slug %}" style="color: black;">{{ object.title }}</a></p>



                          </div>
                                      {% if not loop.last %}
            <hr class="hr-custom">
    {% endif %}
{% endfor %}




          </div><!-- /.blog-post -->



          <nav class="blog-pagination">

          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">О нашей Управляющей компании НОРАН</h4>
            <p class="mb-0"> Управляющая компания ООО «НОРАН» была создана в  1998 году и вот  уже более 10 лет успешно существует на рынке коммерческого и эксплуатационного управления объектами недвижимости, занимая достойное место среди  действительных  членов  Уральской Палаты Недвижимости </p>

    <p> Сегодня, даже в условиях быстро меняющейся и не простой экономической ситуации, мы работаем для наших клиентов, сохраняя репутацию надежного, ответственного и верного партнера, предоставляющего услуги на уровне международного стандарта качества, способного решить вопросы любой степени сложности строго в соответствии с действующим законодательством Российской Федерации. </p>
          </div>

        


        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

 {% endblock %}