{% extends 'main/base.html' %}

{% block content%}

    <div class="container">
        <div class="row">
            <!-- Левая часть с изображением -->
            <div class="col-md-0">
                <img style='max-width:500px' src="/media/fasad.jpg" alt="Новостная картинка">
            </div>

            <!-- Правая часть с информацией о товаре -->
            <div class="col-md-8">
                <h2>Торгово-деловой центр "АСТОР"</h2>
                <p>Информация о ДЦ</p>
                <p>Еще информация</p>
               





            </div>
<div class="col-6">

        </div>
    </div>
{% endblock %}

