{% extends 'main/base.html' %}

{% block content%}
    <style>
        .container-fluid {
            max-width: 4000px;
        }
        .justify-text {
  text-align: justify;
}
    </style>

    <div class="container">
        <div class="row text-start">
        <div class="col-lg-12 col-md-6 col-sm-12">
            
                
                <p class="justify-text"><b>Характеристики месторасположения объекта:</p></b>
                <p class="justify-text">• Объект расположен на территории Чкаловского района г. Екатеринбурга с численностью населения 233 817 человек.</p>
                <p class="justify-text">• Общая площадь объекта 8 600 кв.м., вариативная этажность 3-6 этажей.</p>
                <p class="justify-text">• ТДЦ «Астор» находится в непосредственной близости от крупнейших транспортных артерий города Екатеринбурга – ул. 8 Марта, ул. Московская и Объездная (Кольцевая) автодорога, что обеспечивает быстрый доступ со всех концов города как на общественном, так и на автотранспорте. Доступ к зданию осуществляется непосредственно с ул. 8 Марта и ул. Московской (через переулок Рижский).</p>
                <p class="justify-text">• В настоящее время на основе анализа данных, предоставленных Свердловским областным комитетом государственной статистики и экспертных расчётов, микрорайон «Юго-Западный», микрорайон «Ботанический», микрорайон «РТИ», часть районов «Центральный» и «Вторчермет», и микрорайон «Автовокзал» определены как первичная торговая зона города (10 минут транспортной доступности).</p>
                <p class="justify-text"><b>Характеристики объекта:</b></p>
                <p class="justify-text">• Вокруг здания имеется достаточное количество земли, находящейся в собственности, что позволяет рассматривать различные варианты организации парковочной зоны для нужд Вашей компании. В настоящий момент перед зданием имеется наземная парковочная зона на 200 машиномест.</p>
                <p class="justify-text">• Высота потолков от 2,7 метров, несущие конструкции здания – внешние стены и несколько ребер жесткости. Материал внешних стен – железобетонные конструкции, кирпич.</p>
                <p class="justify-text">• В 2009-2010 годах был произведен капитальный ремонт с заменой большей части инженерно-технических сетей (системы канализации, водоснабжения, электроснабжения).</p>
                <p class="justify-text">• Рядом со зданием находятся остановки маршрутов общественного транспорта (автобусов, трамваев, маршрутного такси), которые соединяют ТДЦ «Астор» со всеми районами города Екатеринбурга. Остановочные комплексы общественного транспорта расположены в непосредственной близости к ТДЦ «Астор».</p>
                <p class="justify-text">• В торговой части здания на 1 этаже расположены: магазины бытовой техники, товаров для дома, электротоваров, сантехники и технических инструментов, строительных материалов, авиа и ж/д кассы, магазин резинотехнических изделий и медицинские страховые компании, медицинская лаборатория  KDL, медицинский центр с магнитно-резонансной томографией.</p>

                <p class="justify-text">• В офисно-деловой части здания располагаются порядка 150 компаний. Среди них имеется недорогое и уютное кафе, массажный кабинет, салон красоты «Жасмин», стоматологический кабинет, танцевальная школа для детей и подростков (3 зала), финансовые, юридические, строительные организации и многие другие компании, услуги которых могут быть полезны для Вас и Вашего бизнеса, и Вы сможете ими воспользоваться, не покидая пределы здания.</p>
                <p class="justify-text">• ТДЦ «Астор» охраняется 24 часа в сутки, вся территория вокруг здания и общие площади находятся под видеонаблюдением.</p>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
{% endblock %}
