{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">
   <div class="row">
        <h3 class="text-left">Активные заявки арендаторов</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Помещение</th>
                <th>Арендатор</th>
                <th>Описание</th>
                <th>Срочность</th>
                <th>Статус</th>
                <th>Комментарий исполнителя</th>
                <th>Комментарий арендатора</th>

            </tr>
            </thead>
            <tbody>
            {% for req in active_user_requests %}
                <tr>
                    <td>{{ req.date|date:"d.m.y H:i" }}</td>
                    <td>{{ req.office_id }}</td>
                    <td>{{ req.owner.name }}</td>
                    <td>{{ req.description }}</td>
                    <td>{{ req.urgency }}</td>
                    <td>
                        <form method="POST" action="{% url 'main:request_status_update' req.pk %}">
                            {% csrf_token %}
                            <select name="new_status">
                                {% for status in status_choices %}
                                    <option value="{{ status.0 }}"
                                            {% if status.0 == req.status %}selected{% endif %}>{{ status.1 }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                    <td>{{ req.comments }}</td>
                    <td>{{ req.feedback }}</td>
                    <td>
                        <a href="{% url 'main:request_update' req.pk %}" class="btn btn-custom"
                           style="margin-bottom: 1mm;">Редактировать</a>

                    </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
       <div class="row">
        <h3 class="text-left">Выполненные, но еще не принятые арендатором заявки</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Помещение</th>
                <th>Арендатор</th>
                <th>Описание</th>
                <th>Срочность</th>
                <th>Статус</th>
                <th>Комментарий исполнителя</th>
                <th>Комментарий арендатора</th>

            </tr>
            </thead>
            <tbody>
            {% for req in done_user_requests %}
                <tr>
                    <td>{{ req.date|date:"d.m.y H:i" }}</td>
                    <td>{{ req.office_id }}</td>
                    <td>{{ req.owner.name }}</td>
                    <td>{{ req.description }}</td>
                    <td>{{ req.urgency }}</td>
                    <td>
                        <form method="POST" action="{% url 'main:request_status_update' req.pk %}">
                            {% csrf_token %}
                            <select name="new_status">
                                {% for status in status_choices %}
                                    <option value="{{ status.0 }}"
                                            {% if status.0 == req.status %}selected{% endif %}>{{ status.1 }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                    <td>{{ req.comments }}</td>
                    <td>{{ req.feedback }}</td>
                    <td>
                        <a href="{% url 'main:request_update' req.pk %}" class="btn btn-custom"
                           style="margin-bottom: 1mm;">Редактировать</a>

                    </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3 class="text-left">Закрытые заявки арендаторов</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Помещение</th>
                <th>Арендатор</th>
                <th>Описание</th>
                <th>Срочность</th>
                <th>Статус</th>
                <th>Комментарий исполнителя</th>
                <th>Комментарий арендатора</th>

            </tr>
            </thead>
            <tbody>
            {% for req in closed_user_requests %}
                <tr>
                    <td>{{ req.date|date:"d.m.y H:i" }}</td>
                    <td>{{ req.office_id }}</td>
                    <td>{{ req.owner.name }}</td>
                    <td>{{ req.description }}</td>
                    <td>{{ req.urgency }}</td> 
                    <td>{{ req.status }}</td>
                    <td>{{ req.comments }}</td>
                    <td>{{ req.feedback }}</td>
                   

                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.status-update-button').click(function() {
            var request_id = $(this).data('request-id');
            var new_status = $(this).data('new-status');
            
            $.ajax({
                url: '/user-requests/update/' + request_id + '/',
                type: 'POST',
                data: {'new_status': new_status},
                dataType: 'json',
                success: function(data) {
                    if (data.status === 'success') {
                        location.reload();  // обновление текущей страницы
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ': ' + xhr.responseText);
                }
            });
        });
    });
</script>

{% endblock %}