{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Заявки арендаторов</h1>
        
        
    </div>
</div>


<div class="=container mt-5">
    
    <div class="container">
        <div class="row text-center rounded border">
            <div class="col-2">
                <p>Дата</p>
            </div>
            <div class="col-1">
                <p>Помещение</p>
            </div>
            <div class="col-2">
                <p>Арендатор</p>
            </div>
            <div class="col-3">
                <p>Описание</p>
            </div>
            <div class="col-1">
                <p>Срочность</p>
            </div>
            <div class="col-1">
                <p>Статус</p>
            </div>
            <div class="col-2">
                <p>Комментарий исполнителя</p>
            </div>
        </div>
        {% for req in user_requests %}
        <div class="row text-center rounded border">
            <div class="col-2">
                <p><a href="{% url 'main:request_update' req.pk %}">{{ req.date }}</a></p>
            </div>
            <div class="col-1">
                <p>{{ req.office_id }}</p>
            </div>
            <div class="col-2">
                <p>{{ req.owner.name }}</p>
            </div>
            <div class="col-3">
                <p>{{ req.description }}</p>
            </div>
            <div class="col-1">
                <p>{{ req.urgency }}</p>
            </div>
            <div class="col-1">
                <p>{{ req.status }}</p>
            </div>
            <div class="col-2">
                <p>{{ req.comments }}</p>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
